spring:
  application:
    name: postal-management

  # Database Configuration
  datasource:
    url: jdbc:mysql://localhost:3306/pms_db
    username: root
    password: octguy
    driver-class-name: com.mysql.cj.jdbc.Driver

  # Flyway Configuration
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  # JPA/Hibernate Configuration
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    open-in-view: false

# Server Configuration
server:
  port: 8080
